*
{
  font-family: 'quicksand',monospace,serif;
}
body,html /* Tout le body..*/
{
  background-color:#000000;
  height: 100%;
  margin: 0;
}
header
{
  height: 100%;
}
hr
{
  margin:auto;
  width:36%;
  border-color:#FFFFFF!important
}
.align
{
  text-align: center;
  position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}
#CassieText
{
  font-family: "Raleway", sans-serif;
  font-size: 2.7em;
  text-decoration: none;
  color: #FFFFFF;
}
#Cassie
{

  /* The image used
background-image: url("One.gif");*/

/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.one
{
    /* The image used */
  background-image: url("images/One.gif");
}
.two
{
  background-image: url("images/Two.gif");

}
.three
{
  background-image: url("images/Three.gif");
}
.four
{
  background-image: url("images/Four.gif");
}
.five
{
  background-image: url("images/Five.gif");
}
.six
{
  background-image: url("images/Six.gif");
}
.seven
{
  background-image: url("images/Seven.gif");
}
@font-face
{
    font-family: 'nautilus_pompiliusregular';
    src: url('Font/Nautilus/nautilus-webfont.woff2') format('woff2'),
         url('Font/Nautilus/nautilus-webfont.woff') format('woff'),
         url('Font/Nautilus/nautilis.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'quicksand';
    src: url('Font/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('Font/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('Font/quicksand/quicksand-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
